{% extends "MaillingListBundle:Admin:layout.html.twig" %}

{% block body %}
<div class="row">
    <div class="panel panel-default">
    	<div class="panel-heading clearfix">
        	<div class="panel-title">
				<h4>{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</h4>
        	</div>
        </div>
    	<div class="panel-body">
			{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}, 'FOSUserBundle')|nl2br }}
			<br/>
			<div class="form-group">
				<div class="col-sm-3">
					<a href="{{ path("home") }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'form.annuler'|trans }}</a>
				</div>
			</div>
        </div>
	</div>
</div>
{% endblock %}
