/com.dubture.symfony.core.prefs
/org.eclipse.ltk.core.refactoring.prefs
/org.eclipse.php.ui.prefs
/org.eclipse.wst.common.project.facet.core.xml
/org.eclipse.wst.validation.prefs
/org.pdtextensions.semanticanalysis.prefs
