{% extends "MaillingListBundle:Admin:layout.html.twig" %}

{% block body %}
<div class="row">
    <div class="panel panel-default">
    	<div class="panel-heading clearfix">
        	<div class="panel-title">
    			<ul class="list-inline">
            		<li class="col-xs-12">
               			<h4 class="pull-left">{{ 'form.modifier'|trans }} : {{ user.username }}</h4>
    				</li>
    			</ul>
    		</div>
      	</div>
    	<div class="panel-body">
    	{% include "UserBundle:Admin:editUser_content.html.twig" %}
    	</div>
    </div>
</div>
{% endblock %}
